<a href="https://colab.research.google.com/github/tu22014/EU_M_Math-Repository/blob/main/chap02_Ex07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import numpy.random as random
import scipy as sp
import pandas as pd
from pandas import Series, DataFrame

import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
%matplotlib inline

#小数点第3位まで表示
%precision 3

#(2-7)
from pandas import Series, DataFrame
import pandas as pd

attri_data1 = {'ID':['1','2','3','4','5'],
               'Sex':['F','F','M','M','F'],
               'Money':[1000,2000,500,300,700],
               'Name':['Saito','Horie','Kondo','Kawada','Matsubara']}
attri_data_frame1 = DataFrame(attri_data1)

#条件（フィルター）Moneyが500
attri_data_frame1[attri_data_frame1['Money'] >= 500]

  ID Sex  Money       Name
0  1   F   1000      Saito
1  2   F   2000      Horie
2  3   M    500      Kondo
4  5   F    700  Matsubara